* {
  all: unset;
  display: revert;
  cursor: revert;
  box-sizing: border-box;
}

@font-face {
  font-family: "akzidenzgroteskregularblack";
  src: url("akzidenz-grotesk/akzidenz-grotesk-black-webfont.woff2") format("woff2"), url("akzidenz-grotesk/akzidenz-grotesk-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "akzidenzgroteskregularlight";
  src: url("akzidenz-grotesk/akzidenz-grotesk-light-webfont.woff2") format("woff2"), url("akzidenz-grotesk/akzidenz-grotesk-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #f5ebe0;
}

nav {
  color: #005523;
  font-family: "akzidenzgroteskregularblack", helvetica, sans-serif;
  font-size: 1rem;
  text-transform: lowercase;
}

.valgt {
  color: white;
}

button {
  cursor: pointer;
  margin-left: 1rem;
  margin-right: 1rem;
}

/* SPLASH */ /* SPLASH */ /* SPLASH */
.splash {
  display: grid;
  grid-area: 1/1;
  background-image: url(images/sunstainable_travel_waterfall.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-bottom: 5rem;
}

.splash h1 {
  grid-area: 1/1;
  place-self: center center;
  text-align: center;
  color: white;
}

.splash h2 {
  grid-area: 1/1;
  place-self: center center;
  text-align: center;
  color: white;
}

.splash a {
  grid-area: 1/1;
  place-self: start start;
}

.oprykning {
}

.logo {
  color: white;
  padding: 2rem;
  min-width: 130px;
  max-width: 200px;
}

.nav_top {
  grid-area: 1/1;
  place-self: start end;
  text-align: right;
  color: white;
  padding: 2rem;
}

.nav_destinationer button {
  color: white;
  background-color: #005523;
  margin: 1rem 1rem 1rem 1rem;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  border-radius: 20px;
}

.tilbage {
  font-family: "akzidenzgroteskregularblack", helvetica, sans-serif;
  font-size: 1rem;
  color: white;
  background-color: #005523;
  margin: 1rem;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  border-radius: 20px;
}

/* TEXT */ /* TEXT */ /* TEXT */

h1 {
  color: #005523;
  font-family: "akzidenzgroteskregularblack", helvetica, sans-serif;
  text-transform: lowercase;
  font-size: 6rem;
}

h2 {
  color: #005523;
  font-family: "akzidenzgroteskregularblack", helvetica, sans-serif;
  text-transform: lowercase;
  font-size: 2rem;
  margin: 2rem;
}

.margin_h2 {
  margin: 0rem;
}

h3 {
  color: #005523;
  font-family: "akzidenzgroteskregularblack", helvetica, sans-serif;
  text-transform: lowercase;
  font-size: 1.5rem;
  margin: 2rem;
}

p {
  color: #005523;
  font-family: serif;
  font-size: 1rem;
  line-height: 1.6;
  max-width: 60ch;
  margin: 1rem;
}

/* MAIN DESTINATIONER container */

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2rem;
  padding: 2rem;
}

/* GUIDES section */ /* GUIDES section */

.guides {
  text-align: center;
  margin: 5rem;
}

.guides article h3 {
  text-align: center;
  margin: 0rem 0rem 5rem 0rem;
}

.guides article p {
  text-align: center;
  margin: 1rem 2rem 0rem 2rem;
}
.guides img {
  max-width: 120px;
}

/* @media QUIERIES */ /* @media QUIERIES */ /* @media QUIERIES */

@media (min-width: 750px) {
  h1 {
    font-size: 7rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  nav {
    font-size: 1.5rem;
  }

  .stats_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    padding: 1rem;
  }

  .guides {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* padding: 0rem 10rem 0rem 10rem; */
  }
}

/* ANIMATION */ /* ANIMATION */ /* ANIMATION */

#holder article:hover {
  cursor: pointer;
  animation: zoom-in-zoom-out 0.4s ease 1;
}

button:hover {
  animation: zoom-in-zoom-out 0.3s ease 1;
  background-color: #567a54;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

img {
  max-width: 100%;
  object-fit: contain;
}

article {
  display: grid;
}

article img {
  grid-area: 1/1;
  place-self: center center;
}

article h2 {
  place-self: center center;

  grid-area: 1/1;
}

.by {
  color: white;
}

/* SINGLE VIEW */ /* SINGLE VIEW */ /* SINGLE VIEW */

.menu {
  display: grid;
  background-color: #005523;
}

.menu nav {
  place-self: start end;
  text-align: right;
}

.menu a {
  grid-area: 1/1;
  place-self: start start;
}

.stats_container h3 {
  grid-column: 1 / 3;

  color: white;
}

.stats_container p {
  color: white;
}

.stats_container div {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.stats_container img {
  min-height: 2rem;
  max-height: 3rem;
  margin: 1rem;
  margin-left: 2rem;
}

.co2_container {
  background-color: #005523;
}

.tid_container {
  background-color: #567a54;
}
.bad_container {
  background-color: #839d7f;
}

.fly-logo {
  grid-row: 2;
}

.tog-logo {
  grid-row: 3;
}
.gaa-logo {
  grid-row: 4;
}
.cykel-logo {
  grid-row: 5;
}
.bil-logo {
  grid-row: 6;
}

/*KODE TIL OM OS FØRSTE SEKTION*/
@media (min-width: 900px) {
  .sektionsgrid {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    margin-bottom: 40px;
    gap: 60px;
    padding-top: 1.5rem;
    padding-inline: 2rem;
  }

  .tekst_omos2 {
    order: 1;
  }
}

.citat {
  color: #005523;
  font-style: italic;
  font-size: 2rem;
  text-align: end;
}

/* SARAHS ÆNDRINGER PÅ SINGLEVIEW */
.overnatning {
  background-color: white;
  padding: 2rem;
  margin-bottom: 4rem;
}

.mad {
  background-color: white;
  padding: 2rem;
  margin-bottom: 4rem;
}

.mindre_logo_singleview {
  max-width: 100px;
}

.grid_logo_tekst_singleview {
  display: grid;
  grid-template-columns: 0fr 1fr;
}

@media (min-width: 850px) {
  .grid_img_singleview {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-inline: 2rem;
  }
}

.grid_img_singleview {
  margin-inline: 2rem;
}

figcaption {
  background-color: #005523;
  padding: 1.5rem;
  color: white;
  font-family: serif;
  font-size: 1rem;
  line-height: 1.6;
  margin-top: -1rem;
  margin-bottom: 2rem;
}
