* {
  all: unset;
  display: revert;
  cursor: revert;
  box-sizing: border-box;
}

@font-face {
  font-family: "akzidenzgroteskregularblack";
  src: url("akzidenz-grotesk/akzidenz-grotesk-black-webfont.woff2") format("woff2"), url("akzidenz-grotesk/akzidenz-grotesk-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "akzidenzgroteskregularlight";
  src: url("akzidenz-grotesk/akzidenz-grotesk-light-webfont.woff2") format("woff2"), url("akzidenz-grotesk/akzidenz-grotesk-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #f5ebe0;
}

nav {
  color: #005523;

  font-family: "akzidenzgroteskregularblack", helvetica, sans-serif;

  font-size: 1rem;
  text-transform: lowercase;
}

button {
  cursor: pointer;
  margin-left: 1rem;
  margin-right: 1rem;
}

/* SPLASH */ /* SPLASH */ /* SPLASH */
.splash {
  display: grid;
  grid-area: 1/1;

  background-image: url(images/sunstainable_travel_waterfall.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.splash h1 {
  /* text-align: center; */
  grid-area: 1/1;
  place-self: center center;
  text-align: center;
  color: white;
}

.splash h2 {
  grid-area: 1/1;
  place-self: center center;

  text-align: center;
  color: white;
}

.logo {
  grid-area: 1/1;
  place-self: start start;
  font-family: "akzidenzgroteskregularblack", helvetica, sans-serif;

  font-size: 1rem;
  color: white;
  padding: 2rem;
}

.nav_top {
  grid-area: 1/1;
  place-self: start end;
  text-align: right;

  color: white;
  padding: 2rem;
}

/* TEXT */ /* TEXT */ /* TEXT */

h1 {
  color: #005523;
  font-family: "akzidenzgroteskregularblack", helvetica, sans-serif;
  text-transform: lowercase;
  font-size: 6rem;
}

h2 {
  color: #005523;
  font-family: "akzidenzgroteskregularblack", helvetica, sans-serif;
  text-transform: lowercase;
  font-size: 2rem;
}

p {
  color: #005523;
  font-family: serif;
  font-size: 1rem;
  line-height: 1.6;
  max-width: 50ch;
}

/* @media QUIERIES */ /* @media QUIERIES */ /* @media QUIERIES */

@media (min-width: 750px) {
  h1 {
    font-size: 7rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  nav {
    font-size: 1.5rem;
  }
}

/* ANIMATION */ /* ANIMATION */ /* ANIMATION */
#holder article:hover {
  animation: zoom-in-zoom-out 0.4s ease 1;
}

button:hover {
  animation: zoom-in-zoom-out 0.3s ease 1;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
